# Postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=password_manager

#DOTNET
CONNECTIONSTRING_POSTGRES=Host=db;Port=5432;Database=password_manager;Username=postgres;Password=your_secure_password_here

#RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# JWT
JWT_SECRET=change-this-to-a-secure-randomly-generated-key-minimum-32-characters

#Registry
REGISTRY_URL="http://localhost:5000"

#Ports MAP
DB_PORT=5432

GW_PORT=8080
GW_INTERNAL_PORT=8080

REGISTRY_PORT=5000
REGISTRY_INTERNAL_PORT=5000


#Nginx
GW_DOMAIN=pass.moyseys.com
REGISTRY_DOMAIN=registry.moyseys.com

# Caminho HOST onde os certificados estão
# Para Certbot/Let's Encrypt: /etc/letsencrypt/live
# Para certificados locais: ./server/certs
CERT_PATH_HOST=/etc/letsencrypt/live