services:
  registry:
    build:
      context: ./registry
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
    ports:
      - "${REGISTRY_PORT}:${REGISTRY_INTERNAL_PORT}"
    volumes:
      - ./registry/registry/data:/var/lib/registry
    deploy:
      resources:
        limits:
          memory: 64M
          cpus: "0.25"
        reservations:
          memory: 32M
          cpus: "0.1"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:${REGISTRY_PORT}/v2/",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
